<h1><%= @category.title %></h1>

<% @category.jobs.each do |job| %>

  <h2><%= link_to job.title, category_job_path(@category, job) %></h2>

  <%= simple_format job.body %>

<% end %>

<p>
  <%= link_to "Add new job", new_category_job_path(@category) %>
</p>
